body {
  background-color: #fbfdeef6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Loading Animation */
.loading__container{
  margin: 0px;
  padding: 0px;
  background-color: #f7f7f7;
  font-weight: bold;
}

.loading__container > ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: transform(-50%, -50%);
  display: flex;
}

.loading__container > ul> li{
  list-style: none;
  font-size: 5em;
  letter-spacing: 20px;
  animation: animate 3s linear infinite;
}

.loading__container > ul> li:nth-child(1){
  animation-delay: 0s;
}
.loading__container > ul> li:nth-child(2){
  animation-delay: .2s;
}
.loading__container > ul> li:nth-child(3){
  animation-delay: .4s;
}
.loading__container > ul> li:nth-child(4){
  animation-delay: .6s;
}
.loading__container > ul> li:nth-child(5){
  animation-delay: .8s;
}
.loading__container > ul> li:nth-child(6){
  animation-delay: 1s;
}
.loading__container > ul> li:nth-child(7){
  animation-delay: 1.2s;
}

@keyframes animate {
  0%{
    transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
    color: #f00;
  }
  10%{
    opacity: 1;
  }
  50%{
    letter-spacing: -20px;
  }
  100%{
    transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
    color: #00f;
  }
  }

  /* //////////////////////////////////////////////////////// */

.mission-details{
  padding:  10px;
  margin-left: 20%;
}

.mission-name{
  color: #111;
  margin-left: 80px;
  font-size: 100px;
  border-bottom: 1px solid lightgray;
}

.mission-name:hover{
  border-bottom: 1px solid rgb(211, 100, 100);
}

.mission-year{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  padding: 5px 0px;
}

.mission-launched{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  padding: 5px 0px;
}

.launch-site {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;

}

.img-container > h4{
  color: #111;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.img-container > h4:hover{
  border-bottom: 1px solid rgb(211, 100, 100);
}


.img{
  width: 270px;
  height: 300px;
  padding: 20px;
}



/* ////////////////////////////////////////////////////////// */


.mission-list{
  margin: 0px;
  list-style-type: none;
  min-width: 300px;
  /* border: 1px solid black; */
}

.mission-list > h3 > li{
  margin: 0px;
}

.mission-list > h3{
  width: 100%;
  text-align: center;
  border-bottom: 1 px solid black;
}


.btn{
  width: 100%;
  border: 1px solid black;
}